@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    /* Primary */
    --Dark-violet: hsl(256, 26%, 20%);
    --Grayish-blue: hsl(216, 30%, 68%);
    /* Neutral */
    --Very-dark-violet: hsl(270, 9%, 17%);
    --Dark-grayish-violet: hsl(273, 4%, 51%);
    --Very-light-gray: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: var(--Dark-grayish-violet);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border: 2px solid white;
    background-color: var(--Dark-violet);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: .75em 2em;
}

.btn:hover {
    color: var(--Dark-violet);
    background-color: white;
}

/* NAV BAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.nav-items {
    display: none;
    z-index: 2;
    background: var(--Very-dark-violet) url(./images/bg-pattern-mobile-nav.svg) no-repeat bottom center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: .5em;
    padding-bottom: 16em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.nav-link {
    color: white;
}

.nav-item {
    list-style: none;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 2em 0;
    color: white;
}

.nav-link:hover {
    color: var(--Very-dark-violet);
}

.nav-btn {
    padding: .75em 6.5em;
    background-color: var(--Very-dark-violet);
}

.nav-btn:hover {
    color: white;
    background-color: var(--Very-dark-violet);
}

.visible {
    display: block;
}

/* INTRO SECTION */

.intro {
    position: relative;
    background: var(--Dark-violet) url(./images/bg-pattern-intro-left-mobile.svg) no-repeat bottom left;
    background-position-y: 59%;
    text-align: center;
    padding-bottom: 6em;
}

.intro::after {
    content: url(./images/bg-pattern-intro-right-mobile.svg);
    position: absolute;
    right: 0;
    top: 83%;
}

.intro-img {
    width: 100%;
}

.intro-title {
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 2.75rem;
    font-weight: normal;
    line-height: 1.1;
    padding: 0 .5em;
    margin: 1.75em 0 .4em 0;
}

.intro-copy {
    color: white;
    line-height: 1.5;
    padding: 0 1.5em;
    margin-bottom: 1.75em;
}

.intro-btn {
    padding: .75em 2em;
    font-size: .75rem;
}

/* FEATURES SECTION */

.features {
    text-align: center;
    line-height: 1.5;
    padding: 8em 1.5em;
}

.features-title {
    position: relative;
    color: var(--Very-dark-violet);
    font-family: 'DM Serif Display', serif;
    font-size: 2.75rem;
    font-weight: normal;
}

.features-title::before {
    content: '';
    position: absolute;
    background-color: var(--Dark-grayish-violet);
    width: 140px;
    height: 1px;
    left: 50%;
    bottom: 140%;
    transform: translateX(-50%);
}

.features-img {
    margin-top: 2em;
}

.features-subtitle {
    color: var(--Very-dark-violet);
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 1.75rem;
    margin: .5em 0;
}

/* MORE SECTION */

.more {
    text-align: center;
    background: var(--Dark-violet) url(./images/bg-pattern-how-we-work-mobile.svg) no-repeat right top;
    padding: 4em 1em;
}

.more-title {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 2.75rem;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 5em 1em;
    background: var(--Very-light-gray) url(./images/bg-pattern-footer-mobile.svg) no-repeat top center;
}

.social {
    margin-top: 2em;
}

.social-link {
    padding: .3em;
}

.fab {
    color: var(--Dark-grayish-violet);
    font-size: 1.75rem;
}

.fab:hover {
    color: var(--Very-dark-violet);
}

.footer-links {
    border-top: 1px solid var(--Dark-grayish-violet);
    padding-top: .5em;
    margin-top: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

.links-column {
    list-style: none;
    padding: 0;
    font-weight: bold;
}

.list-heading {
    color: var(--Dark-grayish-violet);
    margin: 2em 0;
}

.list-item {
    color: var(--Dark-violet);
    padding: .5em 0;
}

.list-item:hover {
    text-decoration-line: underline;
}

/* 800px breakpoint */

@media (min-width: 800px) {

    a {
        color: var(--Dark-grayish-violet);
    }

    .container {
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    /* NAV BAR */

    #nav-toggle {
        display: none;
    }

    .nav {
        position: static;
        padding: 1em 0;
        background-color: white;
    }

    .nav-items {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        justify-content: flex-end;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin: 0;
        padding: 0;
        background: none;
    }

    .nav-link {
        color: var(--Dark-grayish-violet);
    }

    .nav-item {
        margin: 0;
    }

    .nav-item + .nav-item {
        margin-left: 2em;
    }

    .nav-btn {
        border: 2px solid var(--Dark-violet);
        background-color: white;
        color: var(--Dark-violet);
        padding: .75em 1.75em;
    }

    /* INTRO SECTION */

    .intro-wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    .intro {
        text-align: left;
        background: var(--Dark-violet);
        padding: 7em 0;
        margin-bottom: 9.5em;
    }

    .intro::before {
        content: url(./images/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        left: 0;
        top: 69%
    }

    .intro::after {
        content: '';
        position: absolute;
        height: 91%;
        width: 100%;
        background: url(./images/bg-pattern-intro-right-desktop.svg) no-repeat right bottom;
        top: 0;
    }

    .img-div {
        width: 50%;
        max-width: 500px;
        position: absolute;
        right: 0;
    }

    .text-div {
        width: 50%;
        z-index: 1;
    }

    .text-div::before {
        content: '';
        position: absolute;
        background-color: white;
        width: 12%;
        height: 1px;
        top: 0;
    }

    .intro-title {
        font-size: 4rem;
        padding: 0 1.5em 0 0;
        margin: .5em 0;
    }

    .intro-copy {
        padding: 0;
    }

    /* FEATURES SECTION */

    .features {
        text-align: left;
        padding: 8em 0;
    }

    .features-title::before {
        width: 100px;
        left: 0;
        transform: none;
    }

    .features-wrapper {
        display: flex;
    }

    .col {
        flex: 1 1 0;
    }

    .col+.col {
        margin-left: 1em;
    }

    /* MORE SECTION */

    .more {
        text-align: left;
        background: var(--Dark-violet) url(./images/bg-pattern-how-we-work-desktop.svg) no-repeat right top;
        padding: 4em;
    }

    .more-title {
        margin: 0;
    }

    /* FOOTER */

    footer {
        text-align: left;
        margin-top: 9em;
        padding: 4em 0;
        background: var(--Very-light-gray) url(./images/bg-pattern-footer-desktop.svg) no-repeat top left;
    }

    .social {
        margin: 0;
    }

    .footer-links {
        margin-top: 2em;
        text-align: left;
    }

    .links-wrapper {
        align-items: flex-start;
        width: 80%;
    }

    .links-column {
        margin: 0;
    }

}